<h2>
  <%= link_to "Back", artists_path, class: "btn btn-secondary" %>
  <%= @artist.name %>
  <%= link_to "Delete #{@artist.name}", @artist, method: :delete,
  class: "btn btn-secondary", data: {confirm: "Are you really sure?", notice: "Artist deleted!"} %>
</h2>

<div class="container col-md-4">
  <%= image_tag @artist.image %>
</div>

<div class="container col-md-4">
  <% @artist.songs.each do |song| %>
    <h3><%= song.name %></h3>
    <p>Year: <%= song.year %>
      <%= link_to "[Delete song]", artist_song_path(@artist.id, song.id),
      method: :delete, data: {confirm: "Are you really sure?"} %>
    </p>
  <% end %>
</div>

<div class="container col-md-4">
  <p>Add a new song for <%= @artist.name %>:</p>
  <!-- <%= link_to "Add new song", new_artist_song_path(@artist.id), class: "btn btn-primary" %> -->
  <%= render 'shared/new_song' %>
</div>
