<h2><%= @artist.name %></h2>

<% @artist.songs.each do |song| %>
  <h3><%= song.name %></h3>
  <div class="btn btn-secondary">
    <%= link_to "[Delete]", artist_song_path(@artist.id, song.id), method: :delete, data: {confirm: "Are you really sure?"} %>
  </div>
<% end %>
<hr>
<%= link_to "Add new song", new_artist_song_path(@artist.id), class: "btn btn-secondary" %>
<hr>
<%= link_to "[Delete #{@artist.name}]", @artist, method: :delete, data: {confirm: "Are you really sure?"} %>
<hr>
<%= link_to "Back", artists_path, class: "btn btn-default" %>
