<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify by Lorenzo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <%= render 'shared/notices' %>
    <% end %>
    <%= yield %>
  </body>
</html>
